<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @tee.course_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tee.name %>
</p>

<p>
  <strong>Hole 1:</strong>
  <%= @tee.hole_1 %>
</p>

<p>
  <strong>Hole 2:</strong>
  <%= @tee.hole_2 %>
</p>

<p>
  <strong>Hole 3:</strong>
  <%= @tee.hole_3 %>
</p>

<p>
  <strong>Hole 4:</strong>
  <%= @tee.hole_4 %>
</p>

<p>
  <strong>Hole 5:</strong>
  <%= @tee.hole_5 %>
</p>

<p>
  <strong>Hole 6:</strong>
  <%= @tee.hole_6 %>
</p>

<p>
  <strong>Hole 7:</strong>
  <%= @tee.hole_7 %>
</p>

<p>
  <strong>Hole 8:</strong>
  <%= @tee.hole_8 %>
</p>

<p>
  <strong>Hole 9:</strong>
  <%= @tee.hole_9 %>
</p>

<p>
  <strong>Out:</strong>
  <%= @tee.out %>
</p>

<p>
  <strong>Hole 10:</strong>
  <%= @tee.hole_10 %>
</p>

<p>
  <strong>Hole 11:</strong>
  <%= @tee.hole_11 %>
</p>

<p>
  <strong>Hole 12:</strong>
  <%= @tee.hole_12 %>
</p>

<p>
  <strong>Hole 13:</strong>
  <%= @tee.hole_13 %>
</p>

<p>
  <strong>Hole 14:</strong>
  <%= @tee.hole_14 %>
</p>

<p>
  <strong>Hole 15:</strong>
  <%= @tee.hole_15 %>
</p>

<p>
  <strong>Hole 16:</strong>
  <%= @tee.hole_16 %>
</p>

<p>
  <strong>Hole 17:</strong>
  <%= @tee.hole_17 %>
</p>

<p>
  <strong>Hole 18:</strong>
  <%= @tee.hole_18 %>
</p>

<p>
  <strong>In:</strong>
  <%= @tee.in %>
</p>

<p>
  <strong>Tot:</strong>
  <%= @tee.tot %>
</p>

<%= link_to 'Edit', edit_tee_path(@tee) %> |
<%= link_to 'Back', tees_path %>
