<p id="notice"><%= notice %></p>

<p>
  <strong>Round:</strong>
  <%= @player.round_id %>
</p>
<p>
  <strong>Player Id:</strong>
  <%= @player.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Hole 1:</strong>
  <%= @player.hole_1 %>
</p>

<p>
  <strong>Hole 2:</strong>
  <%= @player.hole_2 %>
</p>

<p>
  <strong>Hole 3:</strong>
  <%= @player.hole_3 %>
</p>

<p>
  <strong>Hole 4:</strong>
  <%= @player.hole_4 %>
</p>

<p>
  <strong>Hole 5:</strong>
  <%= @player.hole_5 %>
</p>

<p>
  <strong>Hole 6:</strong>
  <%= @player.hole_6 %>
</p>

<p>
  <strong>Hole 7:</strong>
  <%= @player.hole_7 %>
</p>

<p>
  <strong>Hole 8:</strong>
  <%= @player.hole_8 %>
</p>

<p>
  <strong>Hole 9:</strong>
  <%= @player.hole_9 %>
</p>

<p>
  <strong>Out:</strong>
  <%= @player.out %>
</p>

<p>
  <strong>Hole 10:</strong>
  <%= @player.hole_10 %>
</p>

<p>
  <strong>Hole 11:</strong>
  <%= @player.hole_11 %>
</p>

<p>
  <strong>Hole 12:</strong>
  <%= @player.hole_12 %>
</p>

<p>
  <strong>Hole 13:</strong>
  <%= @player.hole_13 %>
</p>

<p>
  <strong>Hole 14:</strong>
  <%= @player.hole_14 %>
</p>

<p>
  <strong>Hole 15:</strong>
  <%= @player.hole_15 %>
</p>

<p>
  <strong>Hole 16:</strong>
  <%= @player.hole_16 %>
</p>

<p>
  <strong>Hole 17:</strong>
  <%= @player.hole_17 %>
</p>

<p>
  <strong>Hole 18:</strong>
  <%= @player.hole_18 %>
</p>

<p>
  <strong>In:</strong>
  <%= @player.in %>
</p>

<p>
  <strong>Total:</strong>
  <%= @player.total %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
